<section
  id="about"
  class="flex md:flex-row items-center justify-center p-8 md:p-16 text-black dark:text-white"
>
  <div
    class="flex flex-col items-center text-start space-y-6 w-full md:w-1/2"
  >
    <h1 class="text-3xl md:text-6xl font-bold">Sobre mi</h1>
    <p class="text-xl md:text-2xl text-wrap">
      Soy Ingeniero en Sistemas Computacionales con una sólida base en redes,
      robótica y programación. Mi verdadera pasión radica en el desarrollo web,
      donde disfruto creando experiencias visuales atractivas y funcionales para
      los usuarios. Además, tengo un profundo interés en la ciberseguridad, lo
      que me ha llevado a explorar y practicar con entornos vulnerables, siempre
      buscando mejorar mis habilidades en este fascinante campo.
    </p>
  </div>
</section>
