---
import AstroIcon from "../components/icons/Astro.astro"
import PHPIcon from "../components/icons/PHP.astro"
import TailwindIcon from "../components/icons/TailwindIcon.astro"
import TypeScriptIcon from "../components/icons/TypeScriptIcon.astro"
import JavaScriptIcon from "../components/icons/JavaScriptIcon.astro"
import AngularIcons from "../components/icons/AngularIcon.astro"
import NextIcon from "../components/icons/NextIcon.astro"
import FlutterIcon from "../components/icons/FlutterIcon.astro"
import TursoIcon from "../components/icons/TursoIcon.astro"
import PythonIcon from "../components/icons/PythonIcon.astro"
---

<section id="about" class="p-8 mt-12 text-black dark:text-white">
  <div class="max-w-6xl mx-auto">
    <div class="mb-10">
      <h1 class="text-4xl md:text-5xl font-bold text-center mb-10">Sobre mí</h1>
      <p class="text-lg md:text-xl leading-relaxed">
        Soy Ingeniero en Sistemas Computacionales con una sólida base en redes,
        robótica y programación. Mi verdadera pasión radica en el desarrollo
        web, donde disfruto creando experiencias visuales atractivas y
        funcionales para los usuarios. Además, tengo un profundo interés en la
        ciberseguridad, lo que me ha llevado a explorar y practicar con entornos
        vulnerables, siempre buscando mejorar mis habilidades en este fascinante
        campo.
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div
        class="bg-white dark:bg-gray-700 p-6 rounded-lg shadow-lg justify-center"
      >
        <h3 class="text-xl font-semibold mb-4">Mis habilidades</h3>
        <ul class="space-y-5 grid grid-cols-2 items-center justify-center">
          <li
            class="flex items-center space-x-3 bg-purple-300 bg-opacity-40 p-3 m-2 rounded-md"
          >
            <PHPIcon class="size-4" />
          </li>

          <li
            class="flex items-center space-x-3 bg-emerald-400 bg-opacity-40  p-3 m-2 rounded-md"
          >
            <TursoIcon class="size-4" />
          </li>

          <li
            class="flex items-center space-x-3 bg-green-300 bg-opacity-40 backdrop-blur-lg p-3 m-2 rounded-md"
          >
            <TailwindIcon class="size-4" />
          </li>

          <li
            class="flex items-center space-x-3 bg-blue-300 bg-opacity-40 backdrop-blur-lg p-3 m-2 rounded-md"
          >
            <TypeScriptIcon class="size-4" />
          </li>

          <li
            class="flex items-center space-x-3 bg-yellow-300 bg-opacity-40 backdrop-blur-lg p-3 m-2 rounded-md"
          >
            <JavaScriptIcon class="size-4" />
          </li>

          <li
            class="flex items-center space-x-3 bg-gray-700 bg-opacity-40 backdrop-blur-lg p-3 m-2 rounded-md"
          >
            <AstroIcon class="size-4" />
          </li>

          <li
            class="flex items-center space-x-3 bg-pink-500 bg-opacity-40 backdrop-blur-lg p-3 m-2 rounded-md"
          >
            <AngularIcons class="size-4" />
          </li>

          <li
            class="flex items-center space-x-3 bg-gray-800 bg-opacity-40 backdrop-blur-lg p-3 m-2 rounded-md"
          >
            <NextIcon />
          </li>

          <li
            class="flex items-center space-x-3 bg-emerald-300 bg-opacity-40 backdrop-blur-lg p-3 m-2 rounded-md"
          >
            <FlutterIcon />
          </li>

          <li class="flex items-center space-x-3 p-2 m-2 rounded-md">
            <PythonIcon />
          </li>
        </ul>
      </div>
      <div class="bg-white dark:bg-gray-700 p-6 rounded-lg shadow-lg">
        <h3 class="text-xl font-semibold mb-4">Otros intereses</h3>
        <p class="text-lg">
          Además de mi enfoque en el desarrollo web, también estoy interesado en
          áreas como el análisis de datos y la inteligencia artificial. Estoy
          siempre en busca de nuevas oportunidades para aprender y crecer
          profesionalmente.
        </p>
      </div>
    </div>
  </div>
</section>
