<section id="about" class="p-8 mt-12 text-black dark:text-white">
  <div class="max-w-6xl mx-auto">
    <div class="mb-10">
      <h1 class="text-4xl md:text-5xl font-bold text-center mb-10">Sobre mí</h1>
      <p class="text-lg md:text-xl leading-relaxed">
        Soy Ingeniero en Sistemas Computacionales con una sólida base en redes,
        robótica y programación. Mi verdadera pasión radica en el desarrollo
        web, donde disfruto creando experiencias visuales atractivas y
        funcionales para los usuarios. Además, tengo un profundo interés en la
        ciberseguridad, lo que me ha llevado a explorar y practicar con entornos
        vulnerables, siempre buscando mejorar mis habilidades en este fascinante
        campo.
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="bg-white dark:bg-gray-700 p-6 rounded-lg shadow-lg">
        <h3 class="text-xl font-semibold mb-4">Mis habilidades</h3>
        <ul class="space-y-4">
          <li class="flex items-center space-x-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="60"
              viewBox="0 0 640 512"
              ><path
                fill="#B197FC"
                d="M320 104.5c171.4 0 303.2 72.2 303.2 151.5S491.3 407.5 320 407.5c-171.4 0-303.2-72.2-303.2-151.5S148.7 104.5 320 104.5m0-16.8C143.3 87.7 0 163 0 256s143.3 168.3 320 168.3S640 349 640 256 496.7 87.7 320 87.7zM218.2 242.5c-7.9 40.5-35.8 36.3-70.1 36.3l13.7-70.6c38 0 63.8-4.1 56.4 34.3zM97.4 350.3h36.7l8.7-44.8c41.1 0 66.6 3 90.2-19.1 26.1-24 32.9-66.7 14.3-88.1-9.7-11.2-25.3-16.7-46.5-16.7h-70.7L97.4 350.3zm185.7-213.6h36.5l-8.7 44.8c31.5 0 60.7-2.3 74.8 10.7 14.8 13.6 7.7 31-8.3 113.1h-37c15.4-79.4 18.3-86 12.7-92-5.4-5.8-17.7-4.6-47.4-4.6l-18.8 96.6h-36.5l32.7-168.6zM505 242.5c-8 41.1-36.7 36.3-70.1 36.3l13.7-70.6c38.2 0 63.8-4.1 56.4 34.3zM384.2 350.3H421l8.7-44.8c43.2 0 67.1 2.5 90.2-19.1 26.1-24 32.9-66.7 14.3-88.1-9.7-11.2-25.3-16.7-46.5-16.7H417l-32.8 168.7z"
              ></path></svg
            >
          </li>
          <li class="flex items-center space-x-3">
            <svg
              fill="none"
              height="60"
              viewBox="0 0 201 170"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="m100.055 170c-2.1901 0-18.2001-12.8-21.3001-16.45-2.44 3.73-6.44 7.96-6.44 7.96-11.05-5.57-25.17-20.06-27.83-25.13-2.62-5-12.13-62.58-12.39-79.3-.34-9.41 5.85-28.49 67.9601-28.49 62.11 0 68.29 19.08 67.96 28.49-.25 16.72-9.76 74.3-12.39 79.3-2.66 5.07-16.78 19.56-27.83 25.13 0 0-4-4.23-6.44-7.96-3.1 3.65-19.11 16.45-21.3 16.45z"
                fill="#1ebca1"></path><path
                d="m100.055 132.92c-20.7301 0-33.9601-10.95-33.9601-10.95l1.91-26.67-21.75-1.94-3.91-31.55h115.4301l-3.91 31.55-21.75 1.94 1.91 26.67s-13.23 10.95-33.96 10.95z"
                fill="#183134"></path><path
                d="m121.535 75.79 78.52-27.18c-4.67-27.94-29.16-48.61-29.16-48.61v30.78l-14.54 3.75-9.11-10.97-7.8 15.34-39.38 10.16-39.3801-10.16-7.8-15.34-9.11 10.97-14.54-3.75v-30.78s-24.50997 20.67-29.1799684 48.61l78.5199684 27.18-2.8 37.39c6.7 1.7 13.75 3.39 24.2801 3.39 10.53 0 17.57-1.69 24.27-3.39l-2.8-37.39z"
                fill="#4ff8d2"></path></svg
            >

            <span>ASTRO</span>
          </li>
          <!-- Agrega más habilidades aquí si lo deseas -->
        </ul>
      </div>
      <div class="bg-white dark:bg-gray-700 p-6 rounded-lg shadow-lg">
        <h3 class="text-xl font-semibold mb-4">Otros intereses</h3>
        <p class="text-lg">
          Además de mi enfoque en el desarrollo web, también estoy interesado en
          áreas como el análisis de datos y la inteligencia artificial. Estoy
          siempre en busca de nuevas oportunidades para aprender y crecer
          profesionalmente.
        </p>
      </div>
    </div>
  </div>
</section>
