---
import Button from "../components/ui/Button.astro"
import ModelViewer from "../components/modelViewer.astro"
---

<section
  id="hero"
  class="flex flex-col-reverse md:flex-row items-center justify-between p-8 text-black dark:text-white"
>
  <div
    class="flex flex-col lg:pl-40 items-center md:items-start space-y-6 md:text-left w-full md:w-1/2"
  >
    <h1 class="text-4xl md:text-6xl font-bold">
      Hola, soy <span class="text-cyan-500">Francisco Cruz Sánchez</span>
    </h1>
    <p class="text-xl md:text-2xl">
      Desarrollador web apasionado por crear experiencias digitales asombrosas.
    </p>
    <!-- Cambiamos el href al enlace del CV -->
    <Button
      text="Descargar CV"
      href="/francisco-cruz-cv.pdf"
      variant="primary"
      download
    />
  </div>

  <!-- Right Image -->
  <div class="w-full md:w-1/2 flex justify-center lg:pr-40">
    <ModelViewer />
  </div>
</section>
