---
import Layout from "../layouts/Layout.astro"
import Hero from "./Hero.astro"
import Projects from "./Projects.astro"
import Contacts from "./Contacts.astro"
import About from "./About.astro"
import Labs from "./Labs.astro"
---

<Layout title="Portfolio Francisco Cruz S.">
  <main class="flex flex-col min-h-screen pt-16">
    <Hero />
    <About />
    <Projects />
    <Labs />
    <Contacts />
  </main>
</Layout>
