---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Hero.astro"
import Projects from "../components/Projects.astro"
import Contacts from "../components/Contacts.astro"
import About from "../components/About.astro"
import Labs from "../components/Labs.astro"
---

<Layout title="Portfolio Francisco Cruz S.">
  <main class="">
    <Hero />
    <About />
    <Projects />
    <Labs />
    <Contacts />
  </main>
</Layout>
