---
import CardLab from "../components/ui/CardLab.astro"

const labs = await Astro.glob("../pages/writeups/*.md")
---

<section
  transition:animate="fade"
  id="labs"
  class="flex flex-col items-center p-8 md:p-16 text-black dark:text-white"
>
  <h2 class="text-3xl md:text-5xl font-bold mb-8 text-center">
    Máquinas resueltas
  </h2>
  <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
    {
      labs.map((lab) => {
        return (
          <CardLab
            url={lab.url ?? ""}
            name={lab.frontmatter.name ?? "Nombre no disponible"}
            difficulty={
              lab.frontmatter.difficulty ?? "Dificultad no disponible"
            }
            platform={lab.frontmatter.platform ?? "Plataforma no disponible"}
            vulnerabilities={lab.frontmatter.vulnerabilities ?? []}
          />
        )
      })
    }
</section>
