---

---

<div class="w-full h-60 md:h-screen justify-center items-center">
  <!-- Incluye el script de <model-viewer> si estás usando CDN -->
  <script
    type="module"
    src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.5.0/model-viewer.min.js"
    defer
  ></script>
  <model-viewer
    src="/dog.glb"
    ar
    tone-mapping="neutral"
    shadow-intensity="0.79"
    shadow-softness="1.5"
    environment-image="neutral"
    exposure="1.2"
    auto-rotate
    rotation-per-second="10deg"
    autoplay
    class="w-full h-full fast-rotation"
    loading="lazy"
  >
  </model-viewer>
</div>
