---
export interface Props {
  tags?: string[]
}

const { tags } = Astro.props
---

{
  tags && (
    <div class="mt-4 flex w-full flex-wrap gap-2">
      {tags.map((tag) => (
        <span class="inline-block rounded-md bg-slate-800 dark:bg-slate-600 px-4  py-1 text-xs text-white shadow-md transition-transform transform hover:scale-105">
          {tag}
        </span>
      ))}
    </div>
  )
}
